CompileFlags:
  Add:
    - "-gdwarf-4"
    - "-O0"
    - "-fno-omit-frame-pointer"
    - "-fsanitize=address"
    - "-fsanitize=undefined"
    - "-DLOCAL"
    - "-std=c++23"
    - "-nostdinc++"
    - "-isystem/opt/homebrew/opt/llvm/include/c++/v1"
    - "-L/opt/homebrew/opt/llvm/lib/c++"
    - "-Wl,-rpath,/opt/homebrew/opt/llvm/lib/c++"
    - "-lc++"
    - "-Wall"
    - "-Wextra"
    - "-Wpedantic"
    - "-Wfloat-equal"
    - "-Wconversion"
    - "-Wshift-overflow"
    - "-Wcast-qual"
    - "-Wcast-align"
    - "-isystem/usr/local/include/fakebits"
    - "-isystem/usr/local/include"
  Compiler: /opt/homebrew/opt/llvm/bin/clang++
